#dashboard-layout-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#dashboard-layout-container>nav {
    flex-shrink: 0;
}

#dashboard-layout {
    display: flex;
    gap: 8px;
    height: calc(100vh - 64px);
    max-width: 100vw;
    overflow: hidden;

    @media (max-width: 767px) {
        gap: 0;
    }
}

#dashboard-sidebar {
    flex-shrink: 0;
}

#dashboard-layout-content {
    flex: 1;
    padding: 1rem;
    overflow-x: hidden;

    @media (max-width: 575px) {
        padding: 0;
    }
}