#dashboard-layout-container {
    height: 100vh;

    #dashboard-layout {
        display: flex;

        #dashboard-sidebar {}

        #dashboard-layout-content {
            padding: 1rem;
        }
    }
}